.stepperbar {

  li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    background: seagreen;
  }

  li.active {
    padding: 1rem;
    background: orange;
  }

}

.container {
  width: 900px;
  margin: 100px auto; 
}

.step{
  display: none;
  margin-top: 2rem;
  &.active {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .stepperbar li {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 576px) {
  .stepperbar li {
    font-size: 0.6rem;
  }
}