$primary: var(--primaryColor);
$secondary: var(--secondaryColor);

.step {
  background: $primary;
  font-size: 1.6rem;
  color: white;
  line-height: 3rem;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  padding: 0 30px;
  &:not(.mobile) {
    &::before {
      content: "";
      position: absolute;
      right: -1.5rem;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 1.5rem solid $primary;
      border-top: 1.5rem solid transparent;
      border-bottom: 1.5rem solid transparent;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 1.6rem solid #f7f7f9;
      border-top: 1.6rem solid transparent;
      border-bottom: 1.6rem solid transparent;
    }
    &:hover {
      transform: scale(1, 1.2);
      cursor: pointer;
      background-color: $secondary;
      &::before {
         border-left: 1.5rem solid $secondary;
      }
    }
  }
  &.active {
    background-color: $secondary;
    &::before {
      border-left: 1.5rem solid $secondary;
    }
  }
}