$step-list-entry-width: 16rem;
$step-list-entry-height: 3rem;

.step-list {
  display: inline-block;
}

.step {
  background: gray;
  width: $step-list-entry-width;
  height: $step-list-entry-height;
  font-size: 1.6rem;
  text-align: center;
  vertical-align: middle;
  &.active {
    background-color: orange;
  }
  &:hover {
    width: calc(#{$step-list-entry-width} * 1.5);
    height: calc(#{$step-list-entry-height} * 1.5);
  }
}

.content {
  display: none;
  &.active {
    display: block;
  }
}