{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}
{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{{ Twig.component("CheckoutStepper::Stepper.Components.Stepper") }}

{% set steps = widget.settings.steps.mobile %}
{% if steps is not empty %}
    <div>
        <stepper-widget template="#vue-stepper" steps="{{ steps | json_encode }}" childContainers="{{ children | raw }}">
        </stepper-widget>
    </div>
{% endif %}
