{% set steps_data = widget.settings.steps.mobile %}

{% if steps_data is not empty %}
    <div>
        <stepper-widget class="widget widget-proportional" :steps="{{steps_data|json_encode}}"></stepper-widget> 
    </div>
    {% for step in steps_data %}
        <div class="my-4" data-builder-child-container="{{ step.uuid }}">{{ children[step.uuid] | raw }}</div>
    {% endfor %}
{% endif %}
