<div class="container col-12">
    <ul class="progressbar">
        <li class="active">Lieferung</li>
        <li>Zahlung</li>
        <li>Rechungsaddresse</li>
        <li>Abschluss</li>
    </ul>
</div>